.container.proto-new
  = form_for @prototype do |f|
    = f.hidden_field :user_id, value: current_user.id
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h4 Title
          .proto-new-title
            = f.text_field :title, required: true, autofocus: true, placeholder: "Input Title"
      .row
        .col-md-12
          %h4 Main Thumbnail
          .cover-image-upload#main_image_uploader
            = image_tag(@prototype.set_main_thumbnail.large, class: 'img-responsive img-size-fix img-existed', style: "margin: 0 auto;")
            .main-thumbnail-preview
            = f.fields_for :captured_images do |image|
              = image.file_field :content
              = image.hidden_field :status, value: "main"
        .col-md-12
          %h4 Sub Thumbnails
          %ul.proto-sub-list.list-group
            - 3.times do |i|
              %li.list-group-item.col-md-4
                %div{ class: "image-upload image-upload-#{i + 1}" }
                  / サブ画像が最大枚数登録されていない場合は元の画像の読み込みをスキップする
                  - if image = @prototype.captured_images[i+1]
                    = image_tag(image.content, class: "img-responsive img-existed-#{i + 1}")
                  %div{ class: "sub-thumbnail-preview-#{i + 1}" }
                  = f.fields_for :captured_images do |image|
                    = image.file_field :content
                    = image.hidden_field :status, value: "sub"
      .row.proto-description
        .col-md-12
          %h4 Catch Copy
          = f.text_field :catch_copy, require: true, placeholder: "Input Catch Copy"
        .col-md-12
          %h4 Concept
          = f.text_area :concept, require: true, placeholder: "Input Concept"
        .col-md-12
          - placeholders = ['Web', 'Rails', 'UI/UX']
          %h4 Tag List
          .row
            = f.fields_for :tags do |tag|
              .col-md-3
                = tag.text_field :name, placeholder: "ex) #{placeholders[tag.index]}" ,required: tag.index == 0
      .row.text-center.proto-btn
        = f.submit "EDIT", id: "button", class: "btn btn-lg btn-primary btn-block"
